@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenido al la App Web de la Papelería </h1>

Aquí tendrás el control de las siguientes categorías

<ul>
    <li> Proveedores</li>
    <li> Productos </li>
    <li> Ventas</li>
</ul>

Donde podrás añadir, modificar y eliminar cada una de ellas

<SurveyPrompt Title="How is Blazor working for you?" />
